*{
    font-size: 18px;
    font-family: barlow;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(207, 33%, 95%);
    
}


.header{
    display: flex;
    margin-bottom: 50px;
}
.logo{
    margin-left: 100px;
}

.navbar ul{
    display: flex;
    margin-left: 400px;
    list-style: none;
}

ul li a{
    margin-left:30px ;
    text-decoration: none;
    color: hsl(230, 11%, 40%);
}
.alert p{
    color:  hsl(231, 7%, 65%);
}
.alert a{
    margin-top: 17px;
}
.button1{
    margin-left: 30px;
    border: none;
    background-color: hsl(255deg 43% 28%);
    
    color: white;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}

.alert{
    display: flex;
    background-color: hsl(255deg 43% 28%);
    width: 500px;
    color: white;
    padding: 20px;
    border-radius: 50px;
    margin-bottom:50px ;
    margin-top: 150px;
    margin-left: 80px;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: -100px;
}

.content1{
    margin-top: 100px;
}

.illustrations{
    width: 400px;
}
.big{
    font-size: 50px;
    width: 600px;
    font-weight:bold ;
    color: hsl(255deg 43% 28%);
}

.paracontent{
    color: hsl(230, 11%, 40%);
    width: 600px;
    margin-top: 20px;
    margin-bottom: 50px;

}
input{
    border: 1px solid hsl(230, 5%, 74%);
    color: hsl(230, 11%, 40%);
    padding: 20px;
    border-radius: 5px;
    width: 300px;

}
.button2{
    margin-left: 0px;
    border: none;
    background-color: hsl(255deg 43% 28%);
    color: white;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}

footer{
    margin-left:100px ;
}
.footer1{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    color: hsl(203, 13%, 35%);
}
